# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

onvifserver
Debug
.gitignore
*Auto*
Release
*.user
*.TXT
*.txt
test/*Runner.c
*.log
interface_demo
*.bak
